<div class="container">
    <form action="/yeniteklif" method="POST">
        <input type="text" name="name" placeholder="Teklif No">
        <input type="text" name="customer" placeholder="Müşteri">
        <input type="text" name="amount" placeholder="Teklif Tutarı">
        <input type="text" name="description" placeholder="Açıklama">
        <input type="submit" name="Gönder">
    </form>
</div>